node_modules
.next
.tools
.next-dev.*.log
test-results
playwright-report
qa-*.png
*.tsbuildinfo
.env*.local
.DS_Store
.pnp*.*.log
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.log
.pnpm-store
*.tgz
*.zip
*.tar.gz
*.bak
.eslintcache
*.eslint*.*.log
*.prettier*.*.log
*.tsbuildinfo
.eslintrc.json

